<h1 mat-dialog-title>Add Product ?</h1>
<div mat-dialog-content>
<form [formGroup]="productForm">
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input formControlName="ProductName" matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <mat-select formControlName="Category" placeholder="Category">
        <mat-option value="Electronics">Electronics</mat-option>
        <mat-option value="Softwares">Softwares</mat-option>
        <mat-option value="Servers">Servers</mat-option>
        <mat-option value="Platforms">Platforms</mat-option>
      </mat-select>
    </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
        <mat-label>Choose a Date</mat-label>
        <input formControlName="Date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for=""><h1>Product</h1></label>
    <mat-radio-group formControlName="Freshness" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let fresh of freshnessList" [value]="fresh">
        {{fresh}}                
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input formControlName="Price" matInput type="number" placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="Comment" matInput></textarea>
    </mat-form-field>
</form>
</div>
<div mat-dialog-actions [align]="'end'">
<button mat-raised-button color="warn" mat-dialog-close>Close</button>
<button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>